<footer>
<!--  <div class="container">-->
<!--    <p class="lead text-center">Copyright &copy; 2021 Alex Bulavin</p>-->

<!--    <div >-->
<!--      &lt;!&ndash; Social net links &ndash;&gt;-->
<!--      <a href="https://www.facebook.com/myFB/" class=""><i class="footer-fab fab fa-facebook-f"></i></a>-->
<!--      <a href="https://www.instagram.com/myInsta/" class=""><i class="footer-fab fab fa-instagram"></i></a>-->
<!--      <a href="https://ttttt.me/myTG" class=""><i class="footer-fab fab fa-telegram-plane"></i></a>-->
<!--      <a href="https://vk.com/myVK" class=""><i class="footer-fab fab fa-vk"></i></a>-->
<!--      <a href="https://www.youtube.com/channel/myYouTube" class=""><i class="fab fa-youtube"></i></a>-->
<!--    </div>-->
<!--  </div>-->

  <div class="container">
    <div class="row h-100">
      <div class="col-md-3 d-none d-md-block">
        <div class="footer-select-lang">
          <div class="footer-current-country open-popup" data-popup="popup-country">
            <img src="./static/logo.svg" class="flag-icon-circle" alt="">
            <span class="footer-country-name">
                                    RU                                </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-left d-none d-md-block">
        <!-- Social net links -->
        <a href="https://www.facebook.com/myFB/" class=""><i class="footer-fab fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/myInsta/" class=""><i class="footer-fab fab fa-instagram"></i></a>
        <a href="https://ttttt.me/myTG" class=""><i class="footer-fab fab fa-telegram-plane"></i></a>
        <a href="https://vk.com/myVK" class=""><i class="footer-fab fab fa-vk"></i></a>
        <a href="https://www.youtube.com/channel/myYouTube" class=""><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://somewhere.com/ru/contacts/#" class="logo d-md-none">
          <img src="./static/my_logo_footer_mobile.svg" alt="">
        </a>
        <p class="privacy-policy">
          <a href="https://somewhere.com/ru/user_agreement/" class="">
            Пользовательское соглашение                            </a>
        </p>
        <p class="copyright">
          © 2021 Alex Bulavin. Все права защищены.                        </p>
      </div>
      <div class="col-md-3 d-none d-md-block">
        <div class="footer-app-block-btns text-right">
          <a href="https://itunes.apple.com/ru/app/myApp/id927991375?l=ru&amp;ls=1&amp;mt=8" class="app-btn" target="_blank">
            <img src="./static/app_store_btn.svg" alt="">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.myApp" class="app-btn" target="_blank">
            <img src="./static/google_play_btn.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>