{% extends 'base.html' %}

{% load static %}

{% block title %}
    Product description
{% endblock %}
{% block content %}

    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img class="img-style-8 shadow" src="{% static 'images/teddy.png' %}">

            </div>
        </div>
    </div>

    <div class="col-10 mx-auto col-md-6 my-3">
        <div>
            <h1 class="product_title">
                Teddy bear
            </h1>
            <p>
                <h5 class="text-info fst-italic mb-4">
                    $15.58
                </h5>
            </p>
            <p class="product_desc">
                Product description
            </p>
            <p class="text-justify product_text">
                Откуда он появился? <br>
                Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
                <br>
                Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
            </p>
            <p class="text-justify product_text">
                Out of stock
            </p>
        </div>
    </div>

{% endblock %}